@model IEnumerable<Livro>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Livro" asp-action="Create">Cadastrar Livro</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Autor</th>
            <th>Editar Livro</th>
            <th>Delete Livro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Livro livro in Model)
        {
            <tr>
                <td>@livro.LivroId</td>
                <td>@livro.Titulo</td>
                <td>@livro.Autor.Descricao</td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Livro" asp-action="Update" asp-route-id="@livro.LivroId">Editar</a></td>
                <td><a class="btn btn-danger" asp-area="" asp-controller="Livro" asp-action="Delete" asp-route-id="@livro.LivroId" asp-route-autorId="@ViewBag.AutorId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>